body{
    background-image: url(fondos.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed; /*para que la imagen quede fija en el scroll*/
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    width: 100%;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap:1em;
    margin: 20px;
}
/*-----showComputers------*/
.contenedor-comp{
    width: 150px;
    padding-bottom: 15px;
    background-color: rgb(213, 241, 213, 0.2);
    border-radius: 15px;
}
.centrar{
    display:block;
    margin:auto;
    text-align: center;
}
h4{
    font-size: 1.7em;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
.imagen{
    display:block;
    margin:auto;
    width: 110px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
}
/*-----showComputer ------*/
.contenedor-datos{
    width: 600px;
    height: 650px;
    margin-left: 40px;
    background-color: rgb(250, 247, 235, 0.4);
    padding: 10px;
    border-radius: 15px;
}
.contenedor-comment{
    margin-bottom: 5px;
    text-align: justify;
    font-size: 0.8em;
    padding: 8px;
    width: 580px;
    height: 222px;
    border-radius: 15px;
    background-color: rgba(126, 120, 120, 0.3);
    overflow: auto;
}
.imagen_commp{
    width: 200px;
    height: 300px;
    display:block;
    margin:auto;
    border-radius: 15px;
    margin-bottom: 10px;
}