body{
    background-image: url(fondo.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed; /*para que la imagen quede fija en el scroll*/
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    width: 100%;
    
}

.imagenNav{
    width: 80px;
}

.form_log{
    margin-top: 12px;
}

td {
    text-align: left;
    vertical-align: top;
    padding: 0.3em;
    
}

.tablaMarca{
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    font-family: sans-serif;
    font-size: 1.2em;
}

th {
    background: rgba(192, 186, 186, 0.3);
    color: rgb(255, 255, 255);
    font-size: 1.3em;
}

caption {
    background: rgba(117, 114, 114, 0.5);
    color: rgb(255, 255, 255);
    caption-side: top;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.contenedorHome {
    width: 100%;
    text-align: center;
    margin: 80px;
    padding: 6px;
}

h1{
    color: lightyellow;
    font-weight: bolder;
    font-size: 3em;
    font-family: serif;
}

.table-fixed tbody{
    height: 600px;
    overflow-y: auto;
    width: 330px;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed td,
.table-fixed th{
    display: block;
}

.table-fixed tbody td,
.table-fixed thead > tr > th{
    float: left;
    border-bottom-width: 0;
}

.centrar{
    display:block;
    margin:auto;
    text-align: center;
}
.imagen_comp{
    display:block;
    margin:auto;
    width: 110px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
}


.margen{
    margin-top: 5px;
}

.alto{
    height: 80px;
    display: flex;
    align-items: center;
}

.contenedor_marca{
    width: 295px;
    padding-bottom: 15px;
    background-color: rgb(213, 241, 213, 0.4);
    border-radius: 15px;
    padding: 20px;
}

.contenedor_comp{
    width: 150px;
    padding-bottom: 15px;
    background-color: rgb(213, 241, 213, 0.2);
    border-radius: 15px;
}

.nombre{
    font-family: aharoni;
    font-size: 1.2em;
    text-align: center;
}

.contenedor{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap:1em;
    margin: 20px;
}

.fila{
    background-color: rgb(250, 245, 227, 0.5);
    font-weight: bold;
    width: 150px;
}

.titulo_ver_comp{
    font-size: 1.7em;
    text-align: center;
    background-color: rgba(38, 37, 41, 0.5);
    color: whitesmoke;
    font-weight: bold;
    margin-top: 15px;

}

.ancho{
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
}

.footer{
    margin: 10px;
}