body{
    /*background-image: url(fondo.jpg);*/
    background-size: 100vw 100vh;
    background-attachment: fixed; /*para que la imagen quede fija en el scroll*/
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    width: 100%;
}
.contenedor{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap:1em;
    margin: 20px;
}
td {
    text-align: left;
    vertical-align: top;
    padding: 0.3em;
    
}
th {
    background: rgba(192, 186, 186, 0.3);
    color: rgb(255, 255, 255);
    font-size: 1.3em;
}